.single {
  color: var(--color-primary);
}

.single h2 {
  font-size: 24px;
  font-weight: 500;
  color: var(--color-primary);
  text-align: center;
}
.single__infoh2 {
  display: none;
}

.single__imagecontainer {
  position: relative;
  border: var(--border-main);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  height: 320px;
  margin: 35px auto 30px auto;
  color: var(--color-primary);
}

.single__image {
  position: absolute;
  background: transparent;
  width: 75px;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  margin-bottom: 10px;
}

.single__cream {
  width: 95px !important;
  bottom: 17%;
}
.single__imagecontainer > p {
  position: absolute;
  bottom: 7%;
  background: transparent;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.single__info {
  padding: 0 10px;
}

.single__infoprice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.single__infoprice > p {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-price);
}

.single__infoskin {
  display: flex;
  align-items: center;
  gap: 20px;
}
.single__infoskin p:nth-of-type(1) {
  font-size: 15px;
}
.single__infoskin p:nth-of-type(2) {
  font-weight: 500;
  font-size: 1rem;
}

.single__benefits {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0 5px;
}

.single__li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.single__li img {
  width: 15px;
  height: auto;
}

.single__amount {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  gap: 20px;
  margin: 33px 0;
}

.single__amount button {
  font-size: 24px;
  color: var(--color-primary);
  width: 48px;
  height: 34px;
  border: var(--border-main);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.single__btn {
  width: 100%;
  color: var(--color-white);
  background-color: var(--color-primary);
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 20px 0;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  font-size: 14px;
}
.single__btn:hover {
  background-color: var(--color-primary-dark);
}
.single__btn:active {
  transform: scale(0.99);
  -webkit-transform: scale(0.99);
  -moz-transform: scale(0.99);
  -ms-transform: scale(0.99);
  -o-transform: scale(0.99);
}

.single__toaster {
  background: transparent;
  top: 30px !important;
}

.single__toaster div {
  background: transparent;
}
.single__toaster div div {
  background: var(--color-bg);
}

@media screen and (min-width: 425px) {
  .single {
    min-width: 425px;
    margin: 0 auto;
  }
  .single h2 {
    font-size: 30px;
  }
  .single__imagecontainer {
    height: 350px;
    margin-bottom: 32px;
  }
  .single__imagecontainer > p {
    bottom: 8%;
  }
  .single__image {
    bottom: 20%;
  }

  .single__cream {
    width: 100px !important;
  }
  .single__infoprice {
    margin-bottom: 32px;
  }
  .single__benefits {
    gap: 30px;
  }
  .single__li {
    gap: 18px;
  }
  .single__amount {
    margin: 35px 0;
  }

  .single__infoprice > p {
    font-size: 20px;
  }
  .single__infoskin p:nth-of-type(1) {
    font-size: 1rem;
  }
  .single__infoskin p:nth-of-type(2) {
    font-size: 1.125rem;
  }
  .single__li p {
    font-size: 1.063rem;
  }
  .single__amount button {
    font-size: 26px;
    width: 52px;
    height: 40px;
  }

  .single__amount button:hover {
    background-color: var(--color-primary);
    color: var(--color-bg);
  }
}

@media screen and (min-width: 768px) {
  .single {
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }
  .single > h2 {
    font-size: 36px;
  }
  .single__imagecontainer {
    height: 420px;
    margin: 45px auto 40px auto;
  }
  .single__imagecontainer > p {
    font-size: 1.125rem;
    bottom: 10%;
  }
  .single__image {
    width: 90px;
  }
  .single__cream {
    width: 125px !important;
  }
  .single__infoprice {
    margin-bottom: 40px;
  }
  .single__infoprice > p {
    font-size: 1.313rem;
  }
  .single__infoskin p:nth-of-type(1) {
    font-size: 1.125rem;
  }
  .single__infoskin p:nth-of-type(2) {
    font-size: 1.188rem;
  }
  .single__benefits {
    gap: 35px;
  }
  .single__li {
    gap: 20px;
  }
  .single__li img {
    width: 18px;
  }
  .single__li p {
    font-size: 1.188rem;
  }
  .single__amount {
    margin: 40px 0;
  }
  .single__btn {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  .single {
    min-width: 460px;
  }

  .single__imagecontainer {
    height: 460px;
    margin: 50px auto 45px auto;
  }
  .single__imagecontainer > p {
    font-size: 1.188rem;
    bottom: 10%;
  }
  .single__image {
    width: 100px;
  }
  .single__cream {
    width: 135px !important;
  }
  .single__infoprice {
    margin-bottom: 45px;
  }
  .single__infoprice > p {
    font-size: 1.375rem;
  }
  .single__infoskin p:nth-of-type(1) {
    font-size: 1.188rem;
  }
  .single__infoskin p:nth-of-type(2) {
    font-size: 1.25rem;
  }
  .single__benefits {
    gap: 38px;
  }
  .single__li {
    gap: 22px;
  }
  .single__li img {
    width: 19px;
  }
  .single__li p {
    font-size: 1.25rem;
  }
  .single__amount {
    margin: 45px 0;
  }
  .single__btn {
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .single {
    display: flex;
    flex-direction: row;
    gap: 100px;
    width: 100%;
    max-width: 1455px;
    padding: 90px 120px 120px 120px;
  }

  .single__imagecontainer {
    margin: 0 auto;
    width: 500px;
    height: 100%;
    flex-shrink: 0;
    min-height: 750px;
    max-height: 800px;
  }
  .single > h2 {
    display: none;
  }
  .single__info .single__infoh2 {
    display: block;
    margin-bottom: 50px;
    font-size: 50px;
    text-align: left;
  }

  .single__info {
    padding: 0;
    flex-basis: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 800px;
  }

  .single__imagecontainer > p {
    font-size: 1.313rem;
    bottom: 8%;
  }
  .single__image {
    width: 200px;
    bottom: 15%;
  }

  .single__cream {
    width: 260px !important;
  }
  .single__benefits {
    gap: 55px;
  }
  .single__amount {
    margin: 60px 0;
  }

  .single__infoprice > p {
    font-size: 2.125rem;
  }
  .single__infoskin p:nth-of-type(1) {
    font-size: 1.563rem;
  }
  .single__infoskin p:nth-of-type(2) {
    font-size: 1.625rem;
  }

  .single__li {
    gap: 30px;
  }
  .single__li img {
    width: 21px;
  }
  .single__li p {
    font-size: 1.563rem;
  }

  .single__btn {
    font-size: 1.5rem;
  }
  .single__amount {
    gap: 35px;
  }
  .single__amount p {
    font-size: 30px;
  }
  .single__amount button {
    font-size: 40px;
    width: 74px;
    height: 52px;
  }
}

@media screen and (min-width: 1920px) {
  .single {
    max-width: 1580px;
    gap: 5vw;
    padding-top: 5%;
  }

  .single__info .single__infoh2 {
    display: block;
    margin-bottom: 50px;
    font-size: 60px;
    text-align: left;
  }

  .single__benefits {
    gap: 60px;
  }
  .single__li img {
    width: 22px;
  }
}
