.storepage {
  padding: 30px 30px 0 30px;
  margin: 0 auto;
}

.storepage > img {
  width: 100%;
  height: 90px;
  object-fit: cover;
  object-position: 0% 10%;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border: var(--border-main);
  transition: object-position 1.5s ease-out;
  -webkit-transition: object-position 1.5s ease-out;
  -moz-transition: object-position 1.5s ease-out;
  -ms-transition: object-position 1.5s ease-out;
  -o-transition: object-position 1.5s ease-out;
}
.storepage > img:hover {
  object-position: 0% 20%;
}
.storepage__filter {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  margin: 30px 5px;
  color: var(--color-primary);
}

#storepage__filterp {
  font-size: 15px;
}

.storepage__section {
  display: grid;
  gap: 30px;
  text-align: center;
  justify-content: center;
  list-style-type: none;
}

.storepage__product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}
.storepage__product p {
  color: var(--color-primary);
  font-size: 14px;
  white-space: nowrap;
}

.storepage__image {
  width: 150px;
  height: 150px;
  background-color: #cbdbe7;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border: var(--border-main);
}

.storepage__image:hover {
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.storepage__image > img {
  margin: 25px auto;
  width: 34px;
  height: auto;
  background-color: #cbdbe7;
}

.storepage__cream > img {
  width: 45px;
}

.storepage__price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.storepage__price p:first-of-type {
  font-size: 15px;
  font-weight: 500;
}
.storepage__price p:nth-of-type(2) {
  font-size: 11px;
  text-decoration: line-through;
  color: #1e8648;
}

/* Dropdown Button */
.storepage__dropbtn {
  background-color: var(--color-bg);
  color: var(--color-primary);
  font-size: 0.938rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.storepage__dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.storepage__dropcontent {
  display: none;
  position: absolute;
  top: 30px;
  left: -16px;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Links inside the dropdown */
.storepage__dropcontent p {
  color: black;
  padding: 25px 20px;
  text-decoration: none;
  display: block;
  font-size: 0.938rem;
}

/* Change color of dropdown links on hover */
.storepage__dropcontent p:hover {
  background-color: rgba(221, 221, 221);
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.storepage__dropshow {
  display: block;
}

.loading {
  font-family: var(--font-main);
  font-size: 30px;
  color: var(--color-primary);
  text-align: center;
  font-weight: 400;
  margin: 100px auto;
}

@media screen and (min-width: 400px) {
  .storepage__section {
    grid-template-columns: repeat(2, 150px);
    justify-content: space-between;
  }
}

@media screen and (min-width: 600px) {
  .storepage__section {
    grid-template-columns: repeat(3, 150px);
  }
}

@media screen and (min-width: 768px) {
  .storepage {
    padding: 30px 60px 0 60px;
  }
  .storepage > img {
    height: 110px;
    object-position: 0% 15%;
  }

  .storepage__section {
    grid-template-columns: repeat(3, 170px);
    gap: 40px;
  }
  .storepage__filter {
    margin: 40px 5px;
  }

  .storepage__product {
    gap: 13px;
  }

  .storepage__image {
    width: 170px;
    height: 170px;
  }
  .storepage__image > img {
    width: 38px;
    margin: 30px auto;
  }
  .storepage__cream > img {
    width: 50px;
  }
  .storepage__product p {
    font-size: 15px;
  }
  #storepage__filterp {
    font-size: 16px;
  }
  .storepage__dropbtn {
    font-size: 1.125rem;
  }
  .storepage__dropcontent p {
    font-size: 1.125rem;
  }
  .loading {
    font-size: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .storepage {
    padding: 30px 60px 0 60px;
  }
  .storepage__filter {
    gap: 25px;
    margin: 50px 5px;
  }
  .storepage > img {
    height: 140px;
    object-position: 0% 15%;
  }
  .storepage__image {
    width: 250px;
    height: 250px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
  }
  .storepage__product {
    gap: 18px;
  }
  .storepage__section {
    grid-template-columns: repeat(3, 250px);
    gap: 50px;
  }
  .storepage__image > img {
    width: 57px;
    margin: 42px auto;
  }
  .storepage__cream > img {
    width: 75px;
  }
  .storepage__price {
    gap: 15px;
  }
  #storepage__filterp {
    font-size: 1.063rem;
  }
  .storepage__product p {
    font-size: 1.125rem;
  }
  .storepage__dropcontent {
    min-width: 180px;
  }
  .storepage__price p:first-of-type {
    font-size: 1.25rem;
  }
  .storepage__price p:nth-of-type(2) {
    font-size: 0.938rem;
  }
  .loading {
    font-size: 70px;
  }
}

@media screen and (min-width: 1440px) {
  .storepage {
    padding: 90px 120px 0 120px;
  }
  .storepage__filter {
    gap: 40px;
    margin: 65px 5px;
  }
  .storepage > img {
    height: 180px;
    object-position: 0% 15%;
  }
  .storepage__image {
    width: 350px;
    height: 350px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
  }
  .storepage__section {
    grid-template-columns: repeat(3, 350px);
  }
  .storepage__image > img {
    width: 80px;
    margin: 55px auto;
  }
  .storepage__cream > img {
    width: 110px;
  }
  .storepage__product {
    gap: 25px;
  }

  #storepage__filterp {
    font-size: 1.25rem;
  }
  .storepage__dropbtn {
    font-size: 1.375rem;
  }
  .storepage__dropcontent {
    min-width: 220px;
    top: 40px;
  }
  .storepage__dropcontent p {
    font-size: 1.375rem;
  }

  .storepage__product p {
    font-size: 1.375rem;
  }
  .storepage__price p:first-of-type {
    font-size: 1.5rem;
  }
  .storepage__price p:nth-of-type(2) {
    font-size: 1.125rem;
  }
  .loading {
    font-size: 80px;
  }
}

@media screen and (min-width: 1920px) {
  .storepage {
    padding-top: 110px;
  }
  .storepage > img {
    height: 200px;
    object-position: 0% 15%;
  }

  .storepage__section {
    grid-template-columns: repeat(3, 350px);
    min-width: 1400px;
  }
  .loading {
    font-size: 100px;
  }
}
