.cartpage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.cartpage__empty,
.cartpage__amount {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--color-primary);
  width: 100%;
  border: var(--border-main);
  padding: 25px 0;
  background-color: var(--color-bg-white);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.cartpage__empty > img {
  width: 24px;
  height: auto;
  background: transparent;
}
.cartpage__amount > img {
  width: 18px;
  height: auto;
  background: transparent;
}

.cartpage__empty > p {
  background: transparent;
  flex-basis: 50%;
  font-size: 14px;
}

.cartpage__amount > p {
  background: transparent;
  font-size: 14px;
}

.cartpage__containers {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 35px;
  height: 100%;
}

.cartpage__prices {
  width: 50%;
  margin-left: auto;
  margin-top: 50px;
  color: var(--color-primary);
}

.cartpage__prices1 {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.cartpage__pricestotal {
  text-align: right;
  color: var(--color-primary);
  margin-bottom: 60px;
}

.cartpage__pricestotal1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.cartpage__pricestotal1 p:last-child {
  font-weight: 500;
  font-size: 17px;
}

.cartpage__btn {
  width: 100%;
  color: var(--color-white);
  background-color: var(--color-primary);
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 20px 0;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  font-size: 14px;
}
.cartpage__btn:hover {
  background-color: var(--color-primary-dark);
}
.cartpage__btn:active {
  transform: scale(0.99);
  -webkit-transform: scale(0.99);
  -moz-transform: scale(0.99);
  -ms-transform: scale(0.99);
  -o-transform: scale(0.99);
}

.cartpage__table {
  display: none;
}

.cartpage__pricesinfo {
  margin-top: auto;
}

@media screen and (min-width: 425px) {
  .cartpage {
    max-width: 500px;
  }
  .cartpage__amount > p {
    background: transparent;
    font-size: 16px;
  }
  .cartpage__amount > img {
    width: 22px;
  }
  .cartpage__empty > p {
    font-size: 16px;
  }
  .cartpage__empty > img {
    width: 28px;
  }
}

@media screen and (min-width: 768px) {
  .cartpage {
    max-width: none;
  }
  .cartpage__empty,
  .cartpage__amount {
    padding: 35px 0;
  }

  .cartpage__amount > p {
    background: transparent;
    font-size: 20px;
    flex-basis: 45%;
  }
  .cartpage__amount > img {
    width: 30px;
  }

  .cartpage__empty > img {
    width: 42px;
  }

  .cartpage__empty > p {
    flex-basis: 45%;
    font-size: 20px;
  }
  .cartpage__pricesinfo {
    font-size: 1.25rem;
  }

  .cartpage__pricestotal1 {
    margin-top: 30px;
  }

  .cartpage__pricestotal1 p:last-child {
    font-weight: 500;
    font-size: 1.25rem;
  }
  .cartpage__prices1 {
    margin: 30px 0;
  }
  .cartpage__btn {
    font-size: 18px;
  }
  .cartpage__containers {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 45px;
  }
}

@media screen and (min-width: 1024px) {
  .cartpage__amount > p {
    background: transparent;
    font-size: 22px;
    flex-basis: 45%;
  }
  .cartpage__amount > img {
    width: 32px;
  }

  .cartpage__empty {
    min-height: 90px;
    font-size: 20px;
  }
  .cartpage__empty > img {
    width: 40px;
  }

  .cartpage__empty > p {
    font-size: 22px;
  }
  .cartpage__pricesinfo {
    font-size: 1.25rem;
  }

  .cartpage__pricestotal1 {
    margin-top: 30px;
  }

  .cartpage__pricestotal1 p:last-child {
    font-weight: 500;
    font-size: 1.25rem;
  }
  .cartpage__prices1 {
    margin: 30px 0;
  }
  .cartpage__btn {
    font-size: 18px;
  }
  .cartpage__containers {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 45px;
  }
}

@media screen and (min-width: 1440px) {
  .cartpage__amount {
    display: none;
  }

  .cartpage__none {
    max-width: 1100px;
  }

  .cartpage__empty {
    font-size: 22px;
  }

  .cartpage__amount2 {
    display: flex;
  }
  .cartpage__table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .cartpage__media {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    height: 100%;
  }
  .cartpage__media > .cartpage__table {
    order: 1;
  }
  .cartpage__pricesinfo2 {
    display: none;
  }
  .cartpage__pricesinfo {
    margin-top: auto;
  }
  .cartpage__containers {
    margin: 0;
  }
  .cartpage__amount > p {
    font-size: 20px;
    white-space: nowrap;
    flex-basis: 50%;
  }

  .cartpage__btn {
    font-size: 20px;
  }
}

@media screen and (min-width: 1920px) {
  .cartpage__amount > p {
    font-size: 22px;
    white-space: nowrap;
    flex-basis: 50%;
  }

  .cartpage__amount > img {
    width: 36px;
  }
  .cartpage__pricesinfo {
    font-size: 22px;
  }
  .cartpage__btn {
    font-size: 22px;
  }
}
