.sidenav {
  gap: 13px;
  overflow: auto;
  position: absolute;
  background: var(--color-bg);
  z-index: 9999999999;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  padding: 30px 30px 0px 30px;
  display: flex;
  flex-direction: column;
}

.sidenav__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidenav__menu > img {
  width: 26px;
  height: 26px;
}

.sidenav__logo {
  text-decoration: none;
  outline: none;
  font-weight: bold;
  letter-spacing: -1px;
}

.sidenav__logo span {
  font-weight: 200;
  letter-spacing: -1.5px;
}

.sidenav__logo:hover,
.sidenav__logo:active,
.sidenav__logo:visited {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-logo);
}

.sidemenu__cart {
  display: flex;
  position: relative;
  border: var(--border-main);
  align-items: center;
  border-radius: 25px;
  padding: 5px 13px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  font-size: 12px;
  gap: 10px;
}

.sidemenu__cart img {
  width: 15px;
  height: auto;
  cursor: pointer;
}

.sidemenu__cart p {
  cursor: pointer;
}

.sidemenu__iconbubble {
  position: absolute;
  right: 0;
  top: -7px;
  width: 18px;
  height: 18px;
  font-weight: 500;
  background-color: var(--color-primary-dark);
  color: var(--color-white);
  border: 1px solid var(--color-bg);
  font-size: 8px;
  display: grid;
  align-items: center;
  justify-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.sidenav__ul {
  flex: 1;
  margin-top: 10vh;
  transform: translateY(-5%);
}

.sidenav__ul li {
  border: 1px solid transparent;
}

.sidenav__ul li a {
  padding: 16px 12px;
  margin: 0px;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1rem;
}

.sidenav__ul li:hover {
  background-color: var(--color-bg-grey);
  border-radius: 10px;
  border: var(--border-main);
}
.sidenav__ul li:active {
  background-color: var(--color-bg-darkgrey);
  border-radius: 10px;
  border: var(--border-main);
}

.sidenav__ul li:not(:last-child) {
  margin-bottom: 45px;
}

.sidemenu__icon {
  transition: all 0.2s ease-in-out 0s;
}

.sidemenu__icon:hover {
  background: var(--color-bg-grey);
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .sidenav {
    padding: 60px 60px 0 60px;
    gap: 25px;
  }
  .sidenav__logo {
    font-size: 28px;
  }

  .sidemenu__cart {
    font-size: 16px;
    padding: 7px 20px;
    gap: 40px;
  }
  .sidemenu__cart img {
    width: 19px;
    height: auto;
  }
  .sidemenu__iconbubble {
    right: 3px;
    top: -9px;
    width: 22px;
    height: 22px;
    font-size: 10px;
  }

  .sidenav__menu > img {
    width: 44px;
    height: 44px;
    margin-left: -4px;
    margin-top: 2px;
  }

  .sidenav__ul li a {
    padding: 18px 14px;
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1024px) {
  .sidemenu__cart {
    font-size: 18px;
    padding: 9px 22px;
  }

  .sidemenu__cart img {
    width: 20px;
  }

  .sidemenu__iconbubble {
    top: -9px;
    width: 25px;
    height: 25px;
    font-size: 12px;
  }

  .sidenav__ul li a {
    padding: 20px 16px;
    font-size: 1.375rem;
  }
}

@media screen and (min-width: 1440px) {
  .sidenav {
    display: none;
  }
}
