.header {
  display: flex;
  flex-direction: column;
  padding: 30px 30px 0 30px;
  gap: 13px;
}

.navigation__links {
  display: none;
}

.navigation__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__cart {
  display: flex;
  position: relative;
  border: var(--border-main);
  align-items: center;
  border-radius: 25px;
  padding: 5px 13px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  font-size: 12px;
  gap: 15px;
}

.navigation__cart img {
  width: 15px;
  height: auto;
  cursor: pointer;
}

.navigation__cart p {
  cursor: pointer;
}

.navbar__logo {
  text-decoration: none;
  outline: none;
  font-weight: bold;
  letter-spacing: -1px;
}

.navbar__logo span {
  font-weight: 200;
  letter-spacing: -1.5px;
}

.navbar__logo:hover,
.navbar__logo:active,
.navbar__logo:visited {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-logo);
}
.navigation__iconbubble {
  position: absolute;
  right: 0;
  top: -7px;
  width: 18px;
  height: 18px;
  font-weight: 500;
  background-color: var(--color-primary-dark);
  color: var(--color-white);
  border: 1px solid var(--color-bg);
  font-size: 8px;
  display: grid;
  align-items: center;
  justify-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 60px 60px 0 60px;
    gap: 25px;
  }
  .navbar__logo {
    font-size: 28px;
  }

  .navigation__cart {
    font-size: 16px;
    padding: 7px 20px;
    gap: 40px;
  }
  .navigation__cart img {
    width: 19px;
    height: auto;
  }
  .navigation__menu img {
    width: 48px;
    height: 48px;
    margin-left: -5px;
  }
  .navigation__iconbubble {
    right: 3px;
    top: -9px;
    width: 22px;
    height: 22px;
    font-size: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .navigation__cart {
    font-size: 18px;
    padding: 9px 22px;
  }

  .navigation__cart img {
    width: 20px;
  }

  .navigation__iconbubble {
    top: -9px;
    width: 25px;
    height: 25px;
    font-size: 12px;
  }
}

@media screen and (min-width: 1440px) {
  .navigation__links {
    display: flex;
    list-style: none;
    gap: 50px;
    font-size: 1.3rem;
    margin-left: -150px;
  }
  .navigation__links a {
    cursor: pointer;
  }

  .navigation__menu {
    display: none;
  }

  .navigation__cart {
    font-size: 1.2rem;
    padding: 10px 26px;
  }

  .navigation__cart img {
    width: 22px;
    height: auto;
  }
  .navbar__logo {
    font-size: 29px;
  }
  .navigation__iconbubble {
    top: -11px;
    right: 5px;
    width: 28px;
    height: 28px;
    font-size: 13px;
  }
}

@media screen and (min-width: 1920px) {
  .navigation__links {
    font-size: 1.5rem;
  }
  .navbar__logo {
    font-size: 32px;
  }
  .navigation__cart {
    font-size: 1.5rem;
  }
  .navigation__cart img {
    width: 24px;
    height: auto;
  }
  .navigation__cart {
    padding: 10px 30px;
  }
  .navigation__iconbubble {
    top: -12px;
    right: 8px;
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
}
