.pagination {
  display: flex;
  margin: 40px auto;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.page a {
  color: var(--color-primary);
}

.page {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
}

.page__active {
  background-color: var(--color-primary);
  cursor: pointer;
}
.page__inactive {
  background-color: rgb(209, 209, 209);
  cursor: pointer;
}

.page__inactive > a {
  position: absolute;
  background-color: transparent;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.page__active > a {
  position: absolute;
  background-color: transparent;
  color: white;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

@media screen and (min-width: 600px) {
  .pagination {
    margin: 50px auto;
  }
  .pagination__icons {
    width: 28px;
  }
}

@media screen and (min-width: 1024px) {
  .pagination {
    margin: 60px auto;
    gap: 18px;
  }
  .page {
    width: 40px;
    height: 40px;
  }

  .page a {
    font-size: 18px;
  }
  .pagination__icons {
    width: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .pagination {
    margin: 70px auto;
    gap: 20px;
  }
  .page {
    width: 50px;
    height: 50px;
  }
  .page a {
    font-size: 22px;
  }
  .pagination__icons {
    width: 40px;
  }
}
