.success {
  color: var(--color-primary);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  width: 100%;
  margin: 50px auto 0 auto;
}

.success p:first-child {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 32px;
  color: var(--color-primary-dark);
}

.success p:nth-child(2) {
  margin-top: 10px;
  font-size: 16px;
}
.success > button {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  color: var(--color-white);
  background-color: var(--color-primary);
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 20px 0;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  font-size: 14px;
}

.success__toaster {
  background: transparent;
  top: 30px !important;
}

.success__toaster div {
  background: transparent;
}
.success__toaster div div {
  background: var(--color-bg);
}

@media screen and (min-width: 768px) {
  .success {
    gap: 45px;
  }
  .success p:first-child {
    font-size: 48px;
  }

  .success p:nth-child(2) {
    margin-top: 15px;
    font-size: 24px;
  }

  .success > button {
    font-size: 18px;
    max-width: 600px;
  }
}

@media screen and (min-width: 1024px) {
  .success {
    gap: 45px;
    max-width: 800px;
  }
}

@media screen and (min-width: 1440px) {
  .success {
    gap: 60px;
    max-width: 1000px;
  }
  .success p:first-child {
    font-size: 54px;
  }

  .success p:nth-child(2) {
    font-size: 27px;
  }

  .success > button {
    font-size: 20px;
    max-width: 700px;
  }
}
@media screen and (min-width: 1920px) {
  .success {
    margin-top: 70px;
    gap: 90px;
    max-width: 1100px;
  }
  .success p:first-child {
    font-size: 64px;
  }
  .success p:nth-child(2) {
    margin-top: 20px;

    font-size: 35px;
  }

  .success > button {
    font-size: 22px;
  }
}
