@import url("https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap");

@font-face {
  font-family: "TTNorms";
  src: local("TTNorms"), url("./fonts/TTNorms-Regular.otf") format("truetype");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "TTNorms";
  src: local("TTNorms"), url("./fonts/TTNorms-Bold.otf") format("truetype");
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "TTNorms";
  src: local("TTNorms"), url("./fonts/TTNorms-Light.otf") format("truetype");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "TTNorms";
  src: local("TTNorms"), url("./fonts/TTNorms-Medium.otf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

:root {
  --color-bg: #eee9e3;
  --color-bg-white: #ebebeb;
  --color-bg-grey: #e2e2e2;
  --color-bg-darkgrey: #dbdbdb;
  --color-primary: #524d4b;
  --color-primary-dark: #413e3c;
  --border-main: 1px solid rgb(120, 120, 120);
  --color-white: #eee9e3;

  --color-price: #626262;

  --color-logo: #363636;

  --font-main: "Oranienbaum", serif;
  --font-secondary: "TTNorms", serif;
  font-variant-ligatures: none;
}

* {
  margin: 0;
  padding: 0;
  background: var(--color-bg);
  box-sizing: border-box;
  font-family: var(--font-secondary);
}

a {
  text-decoration: none;
  outline: none;
  background: transparent;
}

a:hover,
a:link,
a:active,
a:visited {
  cursor: pointer;
  text-decoration: none;
  color: var(--color-);
}

li {
  list-style: none;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
}

main {
  padding: 30px;
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  main {
    padding: 30px 60px 60px 60px;
  }
}
@media screen and (min-width: 1440px) {
  main {
    padding: 90px 120px 60px 120px;
  }
}
